# Ex2 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/02_Filtering_%26_Sorting/Euro12/Euro_2012_stats_TEAM.csv).

### Step 3. Assign it to a variable called euro12.

In [4]:
euro12 = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/02_Filtering_%26_Sorting/Euro12/Euro_2012_stats_TEAM.csv', sep=',')
euro12

### Step 4. Select only the Goal column.

In [5]:
euro12.Goals

0      4
1      4
2      4
3      5
4      3
5     10
6      5
7      6
8      2
9      2
10     6
11     1
12     5
13    12
14     5
15     2
Name: Goals, dtype: int64

### Step 5. How many team participated in the Euro2012?

In [6]:
euro12.shape[0]

16

### Step 6. What is the number of columns in the dataset?

In [7]:
euro12.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 35 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Team                        16 non-null     object
 1   Goals                       16 non-null     int64
 2   Shots on target             16 non-null     int64
 3   Shots off target            16 non-null     int64
 4   Shooting Accuracy           16 non-null     object
 5   % Goals-to-shots            16 non-null     object
 6   Total shots (inc. Blocked)  16 non-null     int64
 7   Hit Woodwork                16 non-null     int64
 8   Penalty goals               16 non-null     int64
 9   Penalties not scored        16 non-null     int64
 10  Headed goals                16 non-null     int64
 11  Passes                      16 non-null     int64
 12  Passes completed            16 non-null     int64
 13  Passing Accuracy            16 non-null     object
 14  Touches                     16 non-null     int64
 15  Crosses                     16 non-null     int64
 16  Dribbles                    16 non-null     int64
 17  Corners Taken               16 non-null     int64
 18  Tackles                     16 non-null     int64
 19  Clearances                  16 non-null     int64
 20  Interceptions               16 non-null     int64
 21  Clearances off line         15 non-null     float64
 22  Clean Sheets                16 non-null     int64
 23  Blocks                      16 non-null     int64
 24  Goals conceded              16 non-null     int64
 25  Saves made                  16 non-null     int64
 26  Saves-to-shots ratio        16 non-null     object
 27  Fouls Won                   16 non-null     int64
 28  Fouls Conceded              16 non-null     int64
 29  Offsides                    16 non-null     int64
 30  Yellow Cards                16 non-null     int64
 31  Red Cards                   16 non-null     int64
 32  Subs on                     16 non-null     int64
 33  Subs off                    16 non-null     int64
 34  Players Used                16 non-null     int64
dtypes: float64(1), int64(29), object(5)
memory usage: 4.5+ KB

### Step 7. View only the columns Team, Yellow Cards and Red Cards and assign them to a dataframe called discipline

In [8]:
discipline = euro12[['Team', 'Yellow Cards', 'Red Cards']]
discipline

### Step 8. Sort the teams by Red Cards, then to Yellow Cards

In [9]:
# 默认是升序排序，设置ascending = False后变为降序排序。
discipline.sort_values(['Red Cards', 'Yellow Cards'], ascending = False)

### Step 9. Calculate the mean Yellow Cards given per Team

In [10]:
# 使用mean()函数，计算该列的平均值。
round(discipline['Yellow Cards'].mean())

7

### Step 10. Filter teams that scored more than 6 goals

In [11]:
# 直接中括号里写条件判断，或者使用query()函数都可以。
euro12[euro12.Goals > 6]
# 或者
euro12.query('Goals > 6')

### Step 11. Select the teams that start with G

In [12]:
# 使用euro12.Team.str.startswith('G')的返回值是布尔类型，这里将所有返回值为true的行筛选出来。
euro12[euro12.Team.str.startswith('G')]

### Step 12. Select the first 7 columns

In [13]:
# use .iloc to slices via the position of the passed integers
# 使用.iloc，通过传递整数的位置来进行切片。
# 有两个参数，前面的表示选取的行，后面的表示选取的列。
# : means all, 0:7 means from 0 to 7
# 单独一个：代表选取所有行，0:7代表选取从0到7列。

euro12.iloc[: , 0:7]

### Step 13. Select all columns except the last 3.

In [14]:
# use negative to exclude the last 3 columns
# 使用负数来排除掉最后三列。
euro12.iloc[: , :-3]

### Step 14. Present only the Shooting Accuracy from England, Italy and Russia

In [15]:
# .loc is another way to slice, using the labels of the columns and indexes
# .loc是另一种切片方法，使用的是列或者索引的标签。

euro12.loc[euro12.Team.isin(['England', 'Italy', 'Russia']), ['Team','Shooting Accuracy']]